@charset "utf-8";

// Colors
$black : #0A0A0A;
$white : #FFFFFF;
$dark  : #333333;
$light : #D6D6D6;

$primary : #BA5A31;
$link    : #FAF3DD;

$success : #60A561;
$warning : #F3C969;
$danger  : #FE5F55;
$info    : #3083DC;

// Breakpoints
$tablet     : 550px;
$desktop    : 850px;
$widescreen : 1150px;
$fullhd     : 1350px;

@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/components/_all.sass";
@import "../node_modules/bulma/sass/elements/_all.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";
@import "../node_modules/bulma/sass/helpers/_all.sass";
@import "../node_modules/bulma/sass/layout/_all.sass";
@import "../node_modules/bulma/sass/utilities/_all.sass";
